@theme {
  --spacing-4xs: 0.25rem; /* 4px */
  --spacing-3xs: 0.5rem; /* 8px */
  --spacing-2xs: 0.75rem; /* 12px */
  --spacing-2xs-a: 0.875rem; /* 14px */
  --spacing-xs: 1rem; /* 16px */
  --spacing-s: 1.5rem; /* 24px */
  --spacing-m: 2rem; /* 32px */
  --spacing-l: 3rem; /* 48px */
  --spacing-xl: 4rem; /* 64px */
  --spacing-2xl: 5rem; /* 80px */
  --spacing-3xl: 7.5rem; /* 120px */
  --spacing-4xl: 10rem; /* 160px */
}
